# ENV files
Client/.env
Server/.env

# Firebase config file 
Client/src/firebase.js

# Node modules
node_modules/

# Build outputs
Client/dist/
Server/dist/

# Logs
npm-debug.log
yarn-error.log

# Cache
.vite/
.env.local
